<div class="date-picker-container">
    <p class="date-picker__output">{{moment-format selectedDate 'YYYY-MM-DD HH:mm'}}</p>

    <div id="ember-date-picker" class="date-picker">
        <div class="date-picker__month-container">
            <div class="date-picker__prev" {{action "changeMonth" -1}}><i class="fa fa-chevron-left"></i></div>
            <div class="date-picker__switch">{{currentMonth}}
                <div class="date-picker__year-switch">
                    {{input class='date-picker__year'
                            value=currentYear
                            type='text'
                            key-up='enterYear'
                    }}
                    <div class="date-picker__year-switch-btn date-picker--year-up" {{action "changeYear" 1}}><i class="fa fa-chevron-up"></i></div>
                    <div class="date-picker__year-switch-btn date-picker--year-down" {{action "changeYear" -1}}><i class="fa fa-chevron-down"></i></div>
                </div>
            </div>
            <div class="date-picker__next" {{action "changeMonth" 1}}><i class="fa fa-chevron-right"></i></div>
        </div>
        <div class="date-picker__week-container">
            {{#each weekDays as |weekDay|}}
                <div class="date-picker__dow">{{weekDay}}</div>
            {{/each}}
        </div>
        <div class="date-picker__days-container">
            {{#each dayObjects as |day|}}
                <div class="date-picker__day {{if day.oldDay 'date-picker__old'}} {{if day.newDay 'date-picker__new'}} {{if day.today 'date-picker__today'}} {{if day.active 'active'}}"
                    {{action "pickDate" day}}>{{day.monthDay}}</div>
            {{/each}}
        </div>

        {{time-picker selectedDate=selectedDate stateDate=stateDate dateNotPicked=dateNotPicked}}

    </div>
</div>
